html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color:#d1d1d1
}

.content {
    padding: 80px;
}

p, h1, h2, h3, h4, h5, h6, th, td {
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}

button:active {
    background-color: #195f92; 
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }

.bottomNav {
    margin-left: 5%;
    margin-right: 5%;
}
.ReactModal__Overlay--after-open {
    background-color: rgba(105, 105, 105, 0.7) !important
}

@media screen and (max-width: 768px) {
    .clockDiv, .map, .tableWrapper {
        display: none;
    }

    .contents {
        align-content: center
    }
}
  
.shadow {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.shadow-left {
    -webkit-filter: drop-shadow(-5px 5px 5px #222);
    filter: drop-shadow(-5px 5px 5px #222);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-12, OffY=12, Color='#444')";
}
.lightshadow {
    -webkit-filter: drop-shadow(2px 2px 2px rgb(65, 65, 65));
    filter: drop-shadow(2px 2px 2px rgb(65, 65, 65));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
  
@media screen and (max-width: 750px) {
    .clockDiv, .map, .tableWrapper {
        display: none;
    }
    .clockContainer {
        display: none !important;
        border: none !important
    }
    .calendar {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
