html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    padding: 80px;
}

p, h1, h2, h3, h4, h5, h6, th, td {
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}

.bottomNav {
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 768px) {
    .clockDiv, .map, .tableWrapper {
        display: none;
    }

    .contents {
        align-content: center
    }
}
