.rightSideNav {
    position: fixed;
    right:0;
    top:13.1%;
    width:20%;
    height:90vh;
    overflow:auto;
}


#BudgetCalcPage{
    background-color: #d1d1d1;
    height: 100vh;
}

.nopadding {
    padding:0
}

.smallPage{
    margin-bottom: 100px;
}

.smallPage .col-md-12 .container{
    margin-top: 80px;
}

