.rightSideNav {
    position: fixed;
    right:0;
    top:13.1%;
    width:20%;
    height:90vh;
    overflow:auto;
}

.app {
    background-color:#d1d1d1
}

#BudgetCalcPage{
    background-color: #d1d1d1;
    height: 100vh;
}