button {
    padding:5px;
    margin:10px;
    border-radius: 8px;
}

#submit, #addBtn{
    background-color:#0b304b;
    font-family: 'Roboto', sans-serif;
}

button:focus {
    outline:none
}
.lilPadding {
    padding: 10px
}
#BudgetCalcPage .container {
    margin-top: 5px !important;
    margin-bottom: 70px
}
.chq-charts--noselect text {
    pointer-events: all;
}
.chq-charts--noselect text:hover {
    font-size: 1.5%;
}