.vl {
    display: block;
    margin-right: 0.01em;
    margin-left: 0.01em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
.stockIndex {
    text-align: center
}
.indexTable {
    padding: 10px !important
}
.indexName {
    font-weight: 800
}

.stockIndex {
    display: flex !important;
    box-sizing: content-box !important;
}
@media only screen and (max-width: 600px) {
    .vl {
        display: none
    }
    .stockIndex {
        display: inline-block;
    }
    .indexTable {
        text-align: center
    }
}