.widget {
    max-width: 100%;
}

#expandName {
    display: inline;
}

#watchBtn {
    display: inline;
}

.col-form-label{
    color:black;
    font-family: 'Roboto', sans-serif;
}

.infoBtn{
    width:40%;
    text-align: center;
    margin: 3px;
    text-align: center;
    align-content: center;
    align-self: center;
    padding: 6px;
}