#page-wrap {
    text-align: center;
    overflow: auto;
  }
  
  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d3d3d3;
    transition: color 0.2s;
    border-style:none;
    border:none;
  }

  .bm-item:focus{
    outline:none;
  }
 
  .bm-item:hover {
    color: white;
  }
  
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #d1d1d1;
    /* border: .1px solid #fff;
    border-radius: 0px 4px 0px 4px  */
  }

  .bm-burger-bars:focus {
    outline:none;
  }

  .bm-burger-bars:hover {
    background:#fff
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #4d4e4e;
  }
  
  .bm-menu {
    background: #d3d3d3;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    height:100vh;
  }

  ul {
    list-style-type: none;
    border: none;
  }

  .nav-link {
      color:black;
      font-weight: bold;
      font-size: 24px;
      font-family: 'Oswald', sans-serif;
  }

  .nav-link:hover {
      color:rgb(0, 72, 105);
      border: solid 1px;
      border-radius:4px;
  }
  
  .nav-link:active {
      color:rgb(3, 116, 168);
      border: solid 1px;
      border-radius: 4px
  }

  .navbar {
    height: 75px;
    background-color: #0b304b;
    color:white;
    font-family: 'Staatliches', cursive;
    font-size:44px;
  }
  
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-size:44px;
  }
  
